<%# app/views/plreports/_table.html.erb %>
<% metrics = [
  {key: :revenue, label: t("pl_reports.index.metrics.revenue")},
  {key: :procurement_cost, label: t("pl_reports.index.metrics.procurement_cost")},
  {key: :gross_profit, label: t("pl_reports.index.metrics.gross_profit")},
  {key: :expenses, label: t("pl_reports.index.metrics.expenses")},
  {key: :contribution_margin, label: t("pl_reports.index.metrics.contribution_margin")},
  {key: :contribution_margin_rate, label: t("pl_reports.index.metrics.contribution_margin_rate")}
] %>

<div class="card card-bordered bg-base-100 shadow-sm mt-5 overflow-x-auto">
  <div class="card-body p-0">
    <table class="table rounded-box w-full">
      <thead>
        <%= render 'table_header' %>
      </thead>
      <tbody>
        <%= render 'table_body', metrics: metrics %>
      </tbody>
    </table>
  </div>
</div>
