<tbody>
  <% metrics.each do |metric| %>
    <tr class="font-medium cursor-pointer hover:bg-base-200/40">
      <td class="whitespace-nowrap"><%= metric[:label] %></td>
      <% @monthly_data.each do |data| %>
        <td class="whitespace-nowrap">
          <%= format_metric_value(data[metric[:key]], metric[:key]) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</tbody>
