<%# app/views/expenses/_no_expenses_message.html.erb %>
<div class="alert alert-info">
  <div class="flex-1">
    <iconify-icon icon="lucide:info" class="w-6 h-6 mx-2"></iconify-icon>
    <label>この月の販管費データはまだありません。新規登録ボタンから追加してください。</label>
  </div>
</div>
