<%# app/views/expenses/_no_expenses_message.html.erb %>
<div class="alert alert-info shadow-sm">
  <div class="flex items-center">
    <iconify-icon icon="lucide:info" class="w-5 h-5 mr-2"></iconify-icon>
    <span>この月の販管費データはまだありません。新規登録ボタンから追加してください。</span>
  </div>
</div>
