
<div class="w-full md:w-3/5 lg:w-1/2 mx-auto p-4 md:p-6">
  <div class="card card-bordered bg-base-100 shadow-sm mt-4">
    <div class="card-body p-0">
      <div class="px-5 md:px-6 py-3 flex justify-between items-center border-b">
        <h3 class="font-bold text-lg">販管費の新規登録</h3>
        <%= link_to "一覧に戻る", monthly_reports_expenses_path(year: @expense.year, month: @expense.month), class: "btn btn-outline btn-sm" %>
      </div>

      <div class="px-5 md:px-6 py-5">
        <%= render "form", expense: @expense %>
      </div>
    </div>
  </div>
</div>
