<%# 年度選択とチャート %>
<div class="card card-bordered bg-base-100 shadow-sm mt-5">
  <div class="card-body p-5">
    <%# 年度選択フォーム %>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-5">
      <div class="form-control">
        <div class="dropdown">
          <label tabindex="0" class="select select-sm select-bordered w-full focus:select-primary text-base">
            <%= @selected_year %> 年度
          </label>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 mt-1">
            <% @available_years.each do |year| %>
              <li>
                <%= link_to "#{year}年度", monthly_reports_path(year: year), class: "#{year == @selected_year ? 'active' : ''}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%# チャート %>
    <div data-chart-data="<%= {
        series: @chart_data[:datasets].map { |ds| { name: ds[:label], data: ds[:data] } },
        categories: @chart_data[:labels]
      }.to_json %>">
      <div
        data-controller="chart"
        data-chart-target="chart"
        style="height: 350px;"
      ></div>
    </div>
  </div>
</div>
